/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
	box-sizing: border-box;
}

dfn {
  cursor: help;
  font-style: normal;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
  background-color: hsl(233, 100%, 90%);
}

section#hero {
  background-color: white;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 95vw;
}

#image {
  max-width: 100%;
  width: 50%;
  height: auto;
}

#img-caption {
  font-size: 1.1rem;
}

section#tribute-info {
  display: flex;
  justify-content: center;
}

section#readmore {
  font-size: 1.1rem;
}

#readmore a#tribute-link {
  display: inline-block;
  background-color: #ccc;
  padding: 1px 15px;
  border-radius: 15px;
  border: 1px solid #aaa;
  text-decoration: none;
  color: black;
  transition: all .5s;
}

#readmore a#tribute-link:hover {
  background-color: #bbb;
}

article {
	display: flex;
	flex-direction: column;
  width: 48%;
}

article h2 {
  align-self: center;
}

article ul {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

h1, #img-caption, #readmore, footer p {
	text-align: center;
}

/* Media queries */
@media (max-width: 640px) {
  #img-div {
    width: 100%;
    padding: 0;
  }

  #image {
    width: 100%;
  }

  #tribute-info {
    flex-direction: column;
    padding-right: 5px;
  }

  article {
    width: 100%;
  }
}